{% extends 'base.html' %}
{% block title %}Update Profile{% endblock title %}
{% block content %}
<div class="p-[1px] sm:w-full lg:w-[50%] mx-auto my-8 rounded-xl shadow-2xl shadow-cyan-900 bg-gradient-to-r from-cyan-400 via-cyan-900">
    <div class=" rounded-xl bg-gray-800 p-4  text-2xl ">
        <div class="flex flex-row-reverse ">
            <div class=" hover:shadow-red-800 rounded-full ">
                <a href={% url 'home' %} class="text-3xl text-red-400 p-4">
                    <button>X</button>
                </a>
            </div>
        </div>
        <div>
            <h1 class="text-center text-6xl text-gray-400">Update Profile</h1>
            <div class=" mb-4 w-[90%] mx-auto bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 h-[1px] ">
            </div>
        </div>
        <form action={% url 'apply_update' %} method="post">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-2 mb-4 ">
                <input type="text" class="outline outline-1 outline-cyan-300 rounded-full mx-2 py-2 bg-gray-800 px-2" name="first_name"
                    placeholder="First Name">
                <input type="text" class="outline outline-1 outline-cyan-300 rounded-full mx-2 py-2 bg-gray-800 px-2" name="last_name"
                    placeholder="Last Name">
            </div>
            <div class="grid grid-cols-2 gap-2">
                <textarea class="outline outline-1 outline-cyan-300 rounded-xl mx-2 py-2 bg-gray-800 px-2" name="address" id="" cols="13" rows="2"
                    placeholder="Current Address"></textarea>
                <textarea class="outline outline-1 outline-cyan-300 rounded-xl mx-2 py-2 bg-gray-800 px-2" name="bio" id="" cols="13" rows="2"
                    placeholder="Bio"></textarea>
            </div>
            <div class="w-[30%] mx-auto bg-blue-500 my-4 rounded-full text-5xl text-center text-gray-400">
                <input type="submit" class="px-4 value"="Save Profile">
            </div>
        </form>
        <div class="p-2 text-gray-400 text-2xl">
            <h2>Your info</h2>
            <div class=" mb-4 w-[10%]  bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 h-[1px] ">
            </div>
            <p>First Name: <span>{{user.profile.first_name}}</span></p>
            <p>Last Name: <span>{{user.profile.last_name}}</span></p>
            <p>Address: <span>{{user.profile.address}}</span></p>
            <p>Bio: <span>{{user.profile.bio}}</span></p>

        </div>
    </div>
</div>
{% endblock content %}
